<!DOCTYPE html>
<html>
<head>
  <title>Handbag</title>
  <%= stylesheet_link_tag    "handbag/application", media: "all" %>
  <%= javascript_include_tag "handbag/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
